<div id="header">
	<div>
		<div class="logo">
			<a href="/">Cat Club</a>
		</div>
		
		<ul id='navigation'>
			<li id='mainitem'>
				<a href='/home' class='active'>Home</a>
				<ul id='sublist'>
					<li><a id='subitem' href='/home/history'>History</a></li>
					<li><a id='subitem' href='/home/aims'>Aims</a></li>
					<li><a id='subitem' href='/home/meetings'>Meetings</a></li>
					<li><a id='subitem' href='/home/membership'>Membership</a></li>
				</ul>
			</li>
			<li id='mainitem'>
				<a href='/shows' >Shows</a>
				<ul id='sublist'>
					<!--<li><a id='subitem' href='/shows/showdates'>Show dates</a></li>-->
					<!--<li><a id='subitem' href='/shows/archive'>Archive</a></li>-->
					<li><a id='subitem' href='/shows/schedule'>Schedule</a></li>
				</ul>
			</li>
			<li id='mainitem'>
				<a href='/advice' >Advice</a>
				<ul id='sublist'>
					<li><a id='subitem' href='/advice/health'>Health</a></li>
					<li><a id='subitem' href='/advice/shows'>Shows</a></li>
				</ul>
			</li>
			<li id='mainitem'>
				<a href='/links' >Links</a>
				<ul id='sublist'></ul>
			</li>
			<li id='mainitem'>
				<a href='/contact' >Contact</a>
				<ul id='sublist'></ul>
			</li>
		</ul>
	</div>
</div>
